<header class="main-header">
  <div class="container">
    <nav class="navbar navbar-expand-lg main-nav px-0">
      <a class="navbar-brand" href="/mojo">
        <%= image_tag "logo.jpg", alt: "Mikaël Asselyn coiffure" %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="icon-bar icon-bar-1"></span>
                      <span class="icon-bar icon-bar-2"></span>
                      <span class="icon-bar icon-bar-3"></span>
                  </button>
      <div class="collapse navbar-collapse" id="mainMenu">
        <ul class="navbar-nav ml-auto text-uppercase f1">
          <li class="<%= 'active' if current_page.data.page_id == :home %>">
            <a href="/">Accueil</a>
          </li>
          <li class="<%= 'active' if current_page.data.page_id == :haircut %>">
            <a href="/coupe">Coupe</a>
          </li>
          <li class="<%= 'active' if current_page.data.page_id == :color %>">
            <a href="/couleur-et-soin">Couleur & soin</a>
          </li>
          <li class="<%= 'active' if current_page.data.page_id == :contact %>">
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
