<header class="main-header">
  <div class="container">
    <nav class="navbar navbar-expand-lg main-nav px-0">
      <a class="navbar-brand" href="/">
        <%= image_tag "logo.jpg", alt: "Mikaël Asselyn coiffure" %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="icon-bar icon-bar-1"></span>
                      <span class="icon-bar icon-bar-2"></span>
                      <span class="icon-bar icon-bar-3"></span>
                  </button>
      <div class="collapse navbar-collapse" id="mainMenu">
        <ul class="navbar-nav ml-auto text-uppercase f1">
          <li class="<%= 'active' if current_page.data.page_id == :home %>">
            <%= link_to "Accueil", "/" %>
          </li>
          <li class="<%= 'active' if current_page.data.page_id == :haircut %>">
            <%= link_to "Coupes", "/coupes.html" %>
          </li>
          <li class="<%= 'active' if current_page.data.page_id == :color %>">
            <%= link_to "Couleurs", "/couleurs.html" %>
          </li>
          <li class="<%= 'active' if current_page.data.page_id == :care %>">
            <%= link_to "Soins & détente", "/soins-detente.html" %>
          </li>
          <li class="<%= 'active' if current_page.data.page_id == :contact %>">
            <%= link_to "Contact", "/contact.html" %>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
