<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mb-4">Mentions légales</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md font-weight-light">
      <h4 class="h5 mb-3">Raison sociale</h4>
      <p class="mb-1"><%= data.contact.name %></p>
      <p><%= data.contact.address %></p>
      <p class="mb-1"><%= data.contact.phone %></p>
      <p><%= data.contact.email %></p>
      <p class="mb-1">N° de siret: <%= data.contact.siret %></p>
    </div>
    <div class="col-md font-weight-light">
      <h4 class="h5 mb-3">Hébergement</h4>
      <p>Github Pages</p>
      <p class="mb-1">88 Colin P Kelly Junior Street</p>
      <p class="mb-1">San Francisco, CA 94107</p>
      <p class="mb-4">United States</p>
      <h4 class="h5 mb-3">Responsable de la publication</h4>
      <p>Mikael Asselyn</p>
    </div>
  </div>
</div>
